@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather/Merriweather-Bold.ttf');
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {  /* chrome based */
  width: 0; 
  background: transparent;  /* опционально */
}
body {
    font-family: 'Inter';
    font-weight: 400;
    margin: 0 auto;
    background-color: #000000;
    color:#FFFFFF;
    width: 100%;
    box-sizing: border-box;
}
body.light {
  background-color: #FFFFFF;
  color: #000000;
}
h1, h2, h3, h4 {
font-family: 'Merriweather';
margin: 0;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  a {
    line-height: 50px;
    font-size: 20px;
    color:#FFFFFF;
    text-decoration: none;
  }
  a:hover, button:hover {
    color: #bdae82;
    transition: color 0.5s;
  }
  body a.light {
    color: #000000;
  }
  body a.light:hover {
    color: #bdae82;
  }
  .header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    height: 90px;
    justify-content: space-between;
    box-sizing: border-box;
    background: url('./assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
  }
.header.light {
  background: url('./assets/img/hero-light.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.headerContent {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: auto;
    gap: 30px;
    align-items: center;
  }
.logoLink {
  display: flex;
  align-content: center;
}
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
    transition: 0.3s;
  }
.burgerMenu {
    display: none;
  }
.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 30px;
}
.langBtn {
  padding: 0;
  font-size: 20px;
  font-family: 'Inter';
  color: #FFFFFF;
  background: transparent;
  border: none;
  cursor: pointer;
}
.langBtn.active {
  color: #bdae82;
}
.themeBtn {
width: 45px;
height: 45px;
background: transparent;
border: none;
background-image: url(./assets/svg/sun.svg);
}
.themeBtn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  transition: 0.3s;
  cursor: pointer;
}
.themeBtn.light {
width: 45px;
height: 45px;
background: transparent;
border: none;
background-image: url(./assets/svg/moon.svg);
background-repeat: no-repeat;
}
.section {
  padding: 0 20px;
  box-sizing: border-box;
}
.section.hero {
  margin: 0;
  height: 820px;
  padding: 10% 6% 0;
  box-sizing: border-box;
  background-image: url("assets/img/hero.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}
.section.hero.light {
  background: url('./assets/img/hero-light.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.heroText {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-wrap: wrap;
}
.heroText h1 {
  line-height: 120px;
  font-size: 60px;
}
.heroText p {
  line-height: 40px;
  font-size: 20px;
  margin: 0 0 25px;
  max-width: 470px;
}
main button {
  border: 0;
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 0;
}
main button:hover, main button:focus {
  animation: boing 300ms ease-in-out;
  color:#FFFFFF;
  transition: 0.3s; 
}
@keyframes boing {
  15%, 40%, 75%, 100% {
      transform-origin: center center;
  }
  15% {
      transform: scale(1.2, 1.1);
  }
  40% {
      transform: scale(0.95, 0.95);
  }
  75% {
      transform: scale(1.05, 1);
  }
  100% {
      transform: scale(1, 1);
  }
}
main a {
  color: #000000;
}
main a:hover {
  color:#FFFFFF;
  transition: 0.3s;
}
.sectionTitle {
  color: #bdae82;
  line-height: 80px;
  font-size: 40px;
  padding: 0 20px 0;
  background: #000000;
}
.sectionTitle.light {
color: #000000;
background: #FFFFFF;
}
.sectionWrap {
  display: flex;
  width: calc(50% - 20px);
  height: 80px;
  justify-content: center;
  align-content: center;
  margin: 100px auto 60px;
  overflow: hidden;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.sectionWrap.light {
  background: #FFFFFF;
  background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
}
.skillsItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill {
  width: 310px;
  text-align: center;
}
.skill h3 {
  font-size: 20px;
  line-height: 40px;
  margin: 45px 0 25px;
}
.skill p {
  font-size: 18px;
  line-height: 36px;
}
.portfolioButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 5px;
  flex-wrap: wrap;
}
.portfolioButtons button {
  border: 2px solid #bdae82;
  background-color: #000000;
  color: #bdae82;
}
.portfolioButtons button.light{
  background-color: #bdae82;
  color: #000000;
}
.portfolioButtons button:hover {
  color:#FFFFFF;
  transition: 0.3s;
}
.portfolioButtons button.active {
  background-color: #bdae82;
  color: #FFFFFF;
}
.portfolioButtons button.active.light {
  background-color: #000000;
  color: #bdae82;
}
.portfolioButtons button.active:hover {
  color: #000000;
  transition: 0.3s;
}
.portfolioButtons button.active.light:hover {
  color: #FFFFFF;
  transition: 0.3s;
}
.portfolioImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  margin: 60px auto 0;
  max-width: 1440px;
}
.portfolioImgs img {
  width: 450px; 
  height: 560px;
}
.portfolioImgs img:hover {
  transform: scale(1.2);
  transition-duration: 0.6s;
}
video {
    border: 1px solid #bdae82;
    width: 100%;
    height: auto;
}
.videoPlayer {
  position: relative;
}
.videoBtn {
  position: absolute;
  background: transparent;
  background-image: url('assets/svg/Play_hover.svg');
  background-size: cover;
  border: 0;
  width: 130px;
  height: 130px;
  top: 42%;
  left: 45%;
}
.videoBtn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      transition: 0.3s;
}
.nonePlayer {
  display: none;
 }
 
  /* Videoplayer   */
 .videoPlayer:hover .controls {
  display: flex;            
  position:absolute;
  top:93%;
  z-index:5;
}
   /* FULL SREEN  */
 .videoPlayer:fullscreen {
   max-width: none;
   width: 100%;
}
 .videoPlayer:-webkit-full-screen {
   max-width: none;
   width: 100%;
}
 .buttonFullscren {
   background:none;
   cursor:pointer;
   border: 2px dotted #FFFFFF;
   width: 35px;
   height: 25px;
   margin: auto 0;
}
 .buttonFullscren:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)contrast(87%);  
}
  /*   */
 .controls {
   background-color: #000000;
   position: absolute;
   display:none;
   width: 100%;
   max-height: 50px;
   bottom: 0;
   justify-content: space-around;
   padding:0;
   transition:all .3s;
   flex-wrap: wrap; 
}
 .controlsMain {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;
  margin: 0;
}
 .volumeBtn {
  display: flex;
   margin: 0;
   width: 40px;
   height: 40px;
   align-items: center;
}
 .volumeBtn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);    
}
 .progress {
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
}
.volume {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.volumeSlider {
  width: 100%;
}
.time {
 position: absolute;
 right: 25px;
 bottom: 100%;
padding-bottom: 10px;
}
.progressFilled {
 background: linear-gradient(to right,  #bdae82 0%, #bdae82 50%, #f2f3f4 40% , #f2f3f4 100%);
 border: solid 2px #f2f3f4;
 height: 7px;
 width: 95%;
 outline: none;
 -webkit-appearance: none;
 margin: 0;
 transition: all 0.1s;
 margin-left: 5%;
}
.progressFilled::-webkit-slider-thumb {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 -webkit-appearance: none;
 cursor: ew-resize;
 background: #FFFFFF;
}
.volumeFilled {
 background: linear-gradient(to right,  #bdae82 0%, #bdae82 50%, #f2f3f4 40% , #f2f3f4 100%);
 border: solid 2px #f2f3f4;
 height: 7px;
 width: 90%;
 outline: none;
 -webkit-appearance: none;
 margin: 0;
}
.volumeFilled::-webkit-slider-thumb {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 -webkit-appearance: none;
 cursor: ew-resize;
 background: #FFFFFF;
}
.volumeBtn #volume-off, .volumeBtn #volume-high {
 opacity: 0;
}
.volumeBtn.loud #volume-high{
 opacity: 1;
}
.volumeBtn.muted #volume-off {
 opacity: 1;
}
.volumeBtn.muted #volume-high, .volumeBtn.muted #volume-low {
 opacity: 0;
}
.playBtn {
 width: 30px;
 height: 30px;
 position: absolute;
 margin-right: 97%;
 margin-top: 0.7%;
 transform: rotate(-90deg) scale(0.8);
}
.playBtn:hover {
 filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);    
}
.playBtn.paused {
  transform: rotate(0deg);
}
.playBtn:before,
.playBtn:after {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: inherit;
}
.playBtn:before {
  -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 40%, 0 40%);
  shape-inside: polygon(0 10%, 100% 10%, 100% 40%, 0 40%);
}
.playBtn:after {
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 90%, 0 90%);
  shape-inside: polygon(0 60%, 100% 60%, 100% 90%, 0 90%);
}
.playBtn.paused:before {
  -webkit-clip-path: polygon(10% 0, 90% 51%, 90% 51%, 10% 51%);
  shape-inside: polygon(0 0, 100% 51%, 100% 51%, 0 51%);
}
.playBtn.paused:after {
  -webkit-clip-path: polygon(10% 49.5%, 80% 49.5%, 90% 49.5%, 10% 100%);
  shape-inside: polygon(10% 49.5%, 80% 49.5%, 90% 49.5%, 10% 100%);
}
   /* */ 
.prices {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.priceCard {
  border: 2px solid #bdae82;
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}
.priceCard h3 {
  font-size: 28px; 
  line-height: 56px;
}
.priceCard h4 {
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
}
.description {
  display: flex;
  flex-direction: column;
}
.description span {
  display: block; 
  font-size: 18px;
  line-height: 36px;
  margin: auto;
}
.section.contacts {
  height: 700px;
  margin-top: 60px;
  justify-content: flex-end;
  display: flex;
  background-image: url("assets/img/contacts.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto;
}
.section.contacts.light {
  background-image: url("assets/img/contacts-light.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
}
.contactsContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 445px;
  padding: 60px 0 0;
}
.contacts h2 {
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin: 0 0 40px;;
}
form input, textarea {
  width: 100%;
  height: 45px;
  border: 2px solid #bdae82;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  box-sizing: border-box;
  margin: 0 0 26px;
  color: #FFFFFF;
}
textarea {
  height: 95px;
  resize: none;
}
form input::placeholder, textarea::placeholder {
  color: #bdae82;
  font-size: 20px;
  line-height: 45px;
  padding-left: 17px;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 50px;
  min-height: 150px;
}
.footerData {
  display: flex;
  gap: 20px;
}
.socialIcons {
  display: flex;
  list-style: none; 
  gap: 15px;
  text-decoration: none;
  line-height: normal;
  align-content: center;
  }
  .socialIcons.light {
    filter: invert(100%) sepia(24%) saturate(40%) hue-rotate(318deg) brightness(90%) contrast(78%);
  }
  .socialIcons a {
    line-height: 0;
  }
  .socialLink:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
contrast(87%);
}
@media (max-width: 768px) {
  .navMenu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: #000000;
    padding: 100px 30px 30px;
    transition: all 0.3s ease 0s;
    z-index: 2;
    gap: 10px;
    align-items: flex-start;
  }
  .navMenu.light{
    background-color: #FFFFFF;
  }
  .navLink {
    padding-left: 70px;
    font-size: 35px;
    line-height: 72.5px;
  }
  .navMenu.active {
    right: 0;
}
  .burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    gap: 5px;
  }
  .line {
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    margin: 3px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
  }
  .line.light {
    background: #000000;
  }
  .burgerMenu.open .line1 {
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  .burgerMenu.open .line2 {
    opacity: 0;
  }
  .burgerMenu.open .line3 {
    transform: rotate(45deg) translate(-10px, -8px);
  }
  .burgerMenu:hover {
    color: #bdae82;
  }
  .section.hero {
    padding-top: 30%;
    height: 590px;
    background-size: auto;
  }
  .heroText {
    width: 100%;
  }
  .heroText h1 {
      line-height: 64px;
      font-size: 32px;
  } 
  .sectionTitle {
    font-size: 32px;
    line-height: auto;
  }
  .skillsItems {
    justify-content: center;
  }
  .portfolio-buttons {
    width: 90%;
  }
  .videoBtn{
    width: 75px;
    height: 75px;
  }
  .section.contacts {
  height: 600px;
  justify-content: center;
  align-content: center;
  background-position: left;
  }
  .contacts h2 {
    font-size: 32px;
    line-height: 64px;
  }
  .contactsContainer {
    text-align: center;
  }
  footer .container {
    flex-direction: column;
  }
  .socialIcons {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .headerContent{
    gap: 15px;
  }
  .navMenu {
    width: 100%;
    right: -130%;
  }
  .videoBtn{
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1441px) {
  .header {
    background-size: 100%;
  }
  .header.light {
background-size: 100%;
  }
  .section.hero {
    background-size: cover;
  }
  .section.hero.light {
    background-size: 100%;
  }
  .section.contacts {
    background-size: 100%;
  }
  .section.contacts.light {
    background-size: 100%;
  }
}
@media (max-width:660px) {
  .skills-items{
  align-content: center;
  justify-content: center;
  }
  .sectionWrap {
    width: calc(70% - 5px)
  }
  .portfolio-buttons button {
    width: 180px;
  }
}
@media (max-width: 451px) {
  .portfolioImgs img {
    max-width: 280px; 
    max-height: 350px; 
  }
.progressFilled {
  width: 80%;
  margin-left: 8%;
}
.playBtn {
  width: 20px;
  height: 20px;
  margin-right: 98%;
 margin-top: 2%;
}
.buttonFullscren {
  width: 25px;
  height: 20px;
}
.progress {
  width: 55%;
}
.controlsMain {
  width: 35%;
}
}